<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Imports-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.css' %}"/>

    <script src="{% static 'vendor/jquery-3.6.0.min.js' %}" ></script>
    <!-- <script src="{% static 'vendor/popper.min.js' %}" ></script> -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" ></script>


    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <script src="{% static 'js/base.js' %}" ></script>

    <title>Inicio</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Docker - PyCuda</a>
                <span class="navbar-text">B. Sarmiento, E. Zhizhpon</span>
            </div>
            
        </nav>
    </header>
    <section class="container col-12 mt-3">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="row justify-content-center">
                    <div class="col-3 m-1">
                        <div class="card panel-dark">
                            <div class="card-body">
                                <h5 class="card-title">Imagen 1</h5>
                            </div>                            
                            <img class="card-img-botton" src="{% static 'img/1.jpg'%}" alt="Imagen 1"/>
                        </div>
                    </div>
                    <div class="col-3 m-1">
                        <div class="card panel-dark">
                            <div class="card-body">
                                <h5 class="card-title">Imagen 2</h5>
                            </div>                            
                            <img class="card-img-botton" src="{% static 'img/2.jpg'%}" alt="Imagen 2"/>
                        </div>
                    </div>
                    <div class="col-3 m-1">
                        <div class="card panel-dark">
                            <div class="card-body">
                                <h5 class="card-title">Imagen 3</h5>
                            </div>                            
                            <img class="card-img-botton" src="{% static 'img/3.png'%}" alt="Imagen 3"/>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-3 m-1">
                        <div class="card panel-dark">
                            <div class="card-body">
                                <h5 class="card-title">Imagen 4</h5>
                            </div>                            
                            <img class="card-img-botton" src="{% static 'img/4.jpg'%}" alt="Imagen 4"/>
                        </div>
                    </div>
                    <div class="col-3 m-1">
                        <div class="card panel-dark">
                            <div class="card-body">
                                <h5 class="card-title">Imagen 5</h5>
                            </div>                            
                            <img class="card-img-botton" src="{% static 'img/5.jpg'%}" alt="Imagen 5"/>
                        </div>
                    </div>
                    <div class="col-3 m-1">
                        <div class="card panel-dark">
                            <div class="card-body">
                                <h5 class="card-title">Imagen 6</h5>
                            </div>                            
                            <img class="card-img-botton" src="{% static 'img/6.jpg'%}" alt="Imagen 6"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3 border border-dark rounded-3 p-2">
            <div class="col-3 mx-auto">
                <label for="img-select">Imagen:</label>
                <select class="form-select input-text-dark" aria-label="" id="img-select">
                    <option selected value="null">Seleccione una imagen</option>
                    <option value="{% static 'img/1.jpg'%}">Imagen 1</option>
                    <option value="{% static 'img/2.jpg'%}">Imagen 2</option>
                    <option value="{% static 'img/3.png'%}">Imagen 3</option>
                    <option value="{% static 'img/4.jpg'%}">Imagen 4</option>
                    <option value="{% static 'img/5.jpg'%}">Imagen 5</option>
                    <option value="{% static 'img/6.jpg'%}">Imagen 6</option>
                </select>
            </div>
            <div class="col-3 mx-auto">
                <label for="kernel-select">Máscara:</label>
                <select class="form-select input-text-dark" aria-label="" id="kernel-select">
                    <option value="null" selected>Seleccione una imagen</option>
                    <option value="3">Kernel 3x3</option>
                    <option value="5">Kernel 5x5</option>
                    <option value="7">Kernel 7x7</option>
                    <option value="9">Kernel 9x9</option>
                    <option value="15">Kernel 15x15</option>
                </select>
            </div>
            <div class="col-3 mx-auto">
                <label for="sigma-value">Desviación Estándar</label>
                <input type="number" class="form-control input-text-dark" value="1" id="sigma-value"/>
            </div>
            <div class="col-2 mx-auto my-auto">
                <button type="button" class="btn input-dark btn-lg" onclick="process();" id="process-btn">
                    <i class="fas fa-microchip"></i> Procesar
                </button>
            </div>
        </div>

        <div class="row justify-content-center text-center mt-3">
            <div class="col-5 m-1">
                <div class="card panel-dark">
                    <div class="card-body">
                        <h5 class="card-title">Imagen Resultante</h5>
                    </div>                            
                    <img class="card-img-botton" src="{% static 'img/empty.png'%}" alt="Imagen resultante" id="img-result-process"/>
                </div>
            </div>
            <div class="col-5 m-1">
                <h5>Detalle</h5>
                <div id="table-responsive">
                    <table class="table" id="table-result-detail">
                        <tbody>
                            <tr>
                                <td>Seleccione una imagen...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer class="page-footer container mt-auto">
        <div class="row justify-content-center" style="margin-top: 40px;">
            <div class="col-12 text-center" style="padding: 20px;">
                <span>
                    Nuvarmy S.A. &nbsp;<i class="fas fa-heartbeat" data-toggle="tooltip" data-placement="top" title="#HablenPsMudos"></i>
                    &nbsp; 2021
                </span>
            </div>
        </div>
    </footer>
</body>
</html>